@keyframes move-in{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}

.move-in{
    animation: move-in .5s ease-in-out forwards;
}

@keyframes move-out{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100vw);
    }
}

.move-out{
    animation: move-out .5s ease-in-out forwards;
}