$clr--primary--1: #102028;
$clr--primary--2: #182830;
$clr--primary--3: #283038;

$clr--light--100: #ffffff;
$clr--light--300: #e8f0e8;
$clr--light--400: #e8f0f0;
$clr--light--500: #e8e8e8;
$clr--light--900: #b8c8c8;

$clr--dark--100: #414141;
$clr--dark--300: #333333;
$clr--dark--400: #2e2e2e;
$clr--dark--500: #252525;
$clr--dark--700: #121212;
$clr--dark--900: #000000;