:root{
    // Body
    --clr-bg-body: #e8e8e8;
    --clr-text-body: #e8f0f0;
    --clr-title: #b8c8c8;
    // Header
    --clr-bg-header: #102028;
    --clr-text-header: #e8e8e8;
    --clr-social-1: #182830;
    --clr-social-2: #b8c8c8;
    --clr-social-3: #e8e8e8;
    // Gallery
    --clr-bg-gallery: #414141;
    --clr-text-gallery: #b8c8c8;
    --clr-h2-gallery: #102028;
    --clr-text-gallery-2: #182830;
    // Footer
    --clr-bg-footer: #102028;
    --clr-bg-footer-2: #182830;
    --clr-text-footer: #e8e8e8;
    // Top Btn
    --clr-bg-top-btn: #102028;
    --clr-text-top-btn: #b8c8c8;
}

.dark-theme{
    // Body
    --clr-bg-body: #1a1c22;
    --clr-text-body: #2e2e2e;
    --clr-title: #b8c8c8;
    // Header
    --clr-bg-header: #17191f;
    --clr-text-header: #e8e8e8;
    --clr-social-1: #1a1c22;
    --clr-social-2: #b8c8c8;
    --clr-social-3: #e8e8e8;
    // Gallery
    --clr-bg-gallery: #121212;
    --clr-text-gallery: #b8c8c8;
    --clr-h2-gallery: #b8c8c8;
    --clr-text-gallery-2: #e8e8e8;
    // Footer
    --clr-bg-footer: #17191f;
    --clr-bg-footer-2: #1a1c22;
    --clr-text-footer: #e8e8e8;
    // Top Btn
    --clr-bg-top-btn: #b8c8c8;
    --clr-text-top-btn: #102028;
}