@use '../util/theme.scss' as *;
@use '../util/classes.scss' as *;
@use '../util/breakpoints.scss' as *;
@use '../util/mixins.scss' as *;

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
    color: var(--clr-text-body);
    background-color: var(--clr-bg-body);
}

h1{
    color: var(--clr-title);
}

.site-page{
    @extend .container;
    margin-top: 3rem;
    margin-bottom: 5rem;
    min-height: 10vh;

    @include mq-down(small){
        margin-block: 3rem;
    }
}

.btn-top{
    @include flex(center, center, row);
    display: none;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 50px;
    width: 50px;
    background-color: var(--clr-bg-top-btn);
    border-radius: 50%;
    text-decoration: none;
    transition: all .4s ease;

    @include mq(small){
        right: 3rem;
        bottom: 3rem;
    }

    @include mq(medium){
        right: 4rem;
        bottom: 4rem;
    }

    &:hover{
        transform: translateY(-5px);
    }

    i{
        color: var(--clr-text-top-btn);
    }
}
