@use '../util/theme.scss' as *;
@use '../util/classes.scss' as *;
@use '../util/breakpoints.scss' as *;

body{
    font-family: 'Nunito', sans-serif;
    color: var(--clr-text-body);
    background-color: var(--clr-bg-body);
}

h1{
    color: var(--clr-title);
}

.site-page{
    @extend .container;
    margin-top: 3rem;
    margin-bottom: 5rem;
    min-height: 10vh;

    @include mq-down(small){
        margin-block: 3rem;
    }
}
