@use '../util/colours.scss' as *;
@use '../util/breakpoints.scss' as *;

.footer{
    color: $clr--light--500;
    background-color: $clr--primary--1;

    &__content{
        background-color: $clr--primary--2;
        height: 30vh;
    }

    &__copyright{
        background-color: $clr--primary--1;
        color: $clr--light--500;
        padding-block: 1rem;
        display: grid;
        place-content: center;

        &--text{
            font-size: .85rem;
            text-align: center;
        }

    }
}