@use '../util/mixins.scss' as *;
@use '../util/breakpoints.scss' as *;
@use '../util/colours.scss' as *;

header{
    position: relative;
    height: 70vh;
    background-color: $clr--primary--1;
    background-size: cover;
    background-attachment: fixed;

    .navbar{
        @include flex(center, center, row);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        transition: all .6s ease-in;
        z-index: 9999;

        .container{
            @include flex(space-between, center, row);
        }

        &__brand{
            z-index: 99999;

            a{
                text-decoration: none;

                h1{
                    color: $clr--light--500;
                }
            }
        }
        
        &__menu{
            @include flex(center, center, row);
            gap: 2rem;
            list-style: none;

            @include mq-down(xsmall){
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                padding: 0;
                height: 100vh;
                width: 100%;
                background-color: $clr--primary--2;
                flex-direction: column;
                gap: 2.5rem;
                z-index: 9999;
            }

            &--link{
                text-decoration: none;
                text-transform: uppercase;
                color: $clr--light--500;
                letter-spacing: .1em;
            }
        }

        &__btn{
            display: none;
            padding: 0;
            border: none;
            background-color: transparent;
            color: $clr--light--100;
            cursor: pointer;
            z-index: 99999;
            height: 30px;
            width: 25px;
            position: relative;
    
            @include mq-down(xsmall){
                display: block;
            }
    
            &--container{
                position: relative;
                @include wh-100;
    
                span{
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: $clr--light--100;
                    border-radius: 1rem;
                    left: 0;
                    transition: all .2s ease-in-out;
        
                    &:nth-child(1){
                        top: 18%;
                    }
        
                    &:nth-child(2){
                        top: 48%;
                    }
        
                    &:nth-child(3){
                        top: 78%;
                    }
                }
            }
    
            &.close{
                span{
                    &:nth-child(1){
                        transform: rotate(45deg);
                        top: 48%;
                    }
        
                    &:nth-child(2),
                    &:nth-child(3){
                        transform: rotate(-45deg);
                        top: 48%;
                    }
                }
            }
        }

        &.sticky{
            background-color: $clr--primary--2;
            height: 80px;
        }
    }

    .banner{
        display: grid;
        place-items: center;
        @include wh-100;

        &__content{
            width: min(100% - 5rem, 500px);
            margin-inline: auto;
        }
    }

    .wave{
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        height: 150px;

        @include mq-down(xsmall){
            height: 50px;
        }
    }
}