@use '../util/mixins.scss' as *;
@use '../util/breakpoints.scss' as *;
@use '../util/colours.scss' as *;

header{
    position: relative;
    height: 50vh;
    background-color: $clr--primary--1;
    background-size: cover;
    background-attachment: fixed;

    .topbar{
        padding-block: 1rem;

        .container{
            @include flex(space-between, center, row);

            .topbar-logo{
                text-decoration: none;

                h1{
                    color: $clr--light--500;
                    font-size: 1.5rem;
                }
            }

            .social-button{
                @include flex(center, center, row);
                text-decoration: none;
                background-color: $clr--primary--2;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                transition: all .7s ease;
    
                i{
                    color: $clr--light--500;
                }

                &:hover{
                    background-color: $clr--light--900;
                    
                    i{
                        color: $clr--primary--2;
                    }
                }
            }
        }
    }

    .banner{
        display: grid;
        place-items: center;
        width: 100%;
        height: calc(100% - 225px);

        &__content{
            width: min(100% - 5rem, 500px);
            margin-inline: auto;

            &--text{
                padding-bottom: 1rem;
                text-align: center;

                p{
                    color: $clr--light--900;
                    font-size: 1.25rem;
                }
            }

            &--search{
                position: relative;

                input{
                    width: 100%;
                    border: none;
                    border-radius: 3rem;
                    height: 3rem;
                    padding-inline: 3rem;

                    &:focus{
                        border: none;
                    }
                }

                i{
                    position: absolute;
                    top: 30%;
                    left: 1rem;
                    color: $clr--primary--1;
                }
            }
        }
    }

    .wave{
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        height: 150px;

        @include mq-down(xsmall){
            height: 50px;
        }
    }
}