@use '../util/mixins.scss' as *;
@use '../util/breakpoints.scss' as *;
@use '../util/colours.scss' as *;

header{
    position: relative;
    height: 50vh;
    background-color: $clr--primary--1;
    background-size: cover;
    background-attachment: fixed;

    .banner{
        display: grid;
        place-items: center;
        width: 100%;
        height: calc(100% - 150px);

        &__content{
            width: min(100% - 5rem, 500px);
            margin-inline: auto;

            &--text{
                padding-bottom: 1rem;

                a{
                    text-decoration: none;
    
                    h1{
                        color: $clr--light--500;
                        text-align: center;
                    }
                }
            }

            &--search{

                input{
                    width: 100%;
                    border: none;
                    border-radius: 3rem;
                    padding: 12px 24px;
                    height: 3rem;
                    padding-inline: 1.5rem;

                    &:focus{
                        border: none;
                    }
                }
            }
        }
    }

    .wave{
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        height: 150px;

        @include mq-down(xsmall){
            height: 50px;
        }
    }
}