@use '../util/mixins.scss' as *;
@use '../util/breakpoints.scss' as *;
@use '../util/colours.scss' as *;

header{
    position: relative;
    height: 50vh;
    background-color: $clr--primary--1;
    background-size: cover;
    background-attachment: fixed;

    .topbar{
        padding-block: 1rem;

        .container{
            @include flex(space-between, center, row);

            .topbar-logo{
                text-decoration: none;

                h1{
                    color: $clr--light--500;
                    font-size: 1.5rem;
                }
            }

            .topbar-right{
                @include flex(space-between, center, row);
                gap: 1rem;

                .social-button{
                    @include flex(center, center, row);
                    text-decoration: none;
                    background-color: $clr--primary--2;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    transition: all .7s ease;
        
                    i{
                        color: $clr--light--500;
                    }
    
                    &:hover{
                        background-color: $clr--light--900;
                        
                        i{
                            color: $clr--primary--2;
                        }
                    }
                }

                .theme-mode-toggle{
                    .checkbox{
                        opacity: 0;
                        position: absolute;

                        &:checked + .label .ball{
                            transform: translateX(20px);
                        }
                    }
                      
                    .label{
                        @include flex(space-between, center, row);
                        width: 52px;
                        height: 30px;
                        padding: .125rem .5rem;
                        background-color: $clr--primary--2;
                        border-radius: 50px;
                        position: relative;

                        i{
                            font-size: 15px;

                            &.fa{
                                &-moon{
                                    color: #fadadd;
                                }

                                &-sun{
                                    color: #f8f1ae;
                                }
                            }
                        }

                        .ball{
                            width: 18px;
                            height: 18px;
                            background-color: $clr--light--500;
                            position: absolute;
                            border-radius: 50%;
                            transition: transform 0.2s linear;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .banner{
        display: grid;
        place-items: center;
        width: 100%;
        height: calc(100% - 225px);

        &__content{
            width: min(100% - 5rem, 500px);
            margin-inline: auto;

            &--text{
                padding-bottom: 1rem;
                text-align: center;

                p{
                    color: $clr--light--900;
                    font-size: 1.25rem;
                }
            }

            &--search{
                position: relative;

                input{
                    width: 100%;
                    border: none;
                    border-radius: 3rem;
                    height: 3rem;
                    padding-inline: 3rem;

                    &:focus{
                        border: none;
                    }
                }

                .fa-magnifying-glass{
                    position: absolute;
                    top: 30%;
                    color: $clr--primary--1;
                    left: 1rem;
                }

                .fa-xmark{
                    display: none;
                    position: absolute;
                    top: 33%;
                    color: $clr--primary--1;
                    right: 2rem;
                    cursor: pointer;
                }
            }
        }
    }

    .wave{
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        height: 150px;

        @include mq-down(xsmall){
            height: 50px;
        }
    }
}
